.generator {
  width: 50%;
  display: flex;
  flex-direction: column;

  .g__pseudo {
    background-color: red;
    padding: 0 0.5em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0.5em;
    .g__title {
      grid-area: 1 / 1 / 2 / 6;
    }
    .g__pseudo__new {
      grid-area: 2 / 1 / 3 / 4;
      background-color: aqua;
      padding: 0.5em;
    }
    .g__pseudo__add {
      grid-area: 2 / 4 / 3 / 5;
      margin: 1em 0;
    }
    .g__pseudo__alea {
      grid-area: 2 / 5 / 3 / 6;
      margin: 1em 0;
    }
  }

  //   .g__list {
  //     .g__list__element {
  //       .g__list__element__delet {
  //       }
  //     }
  //   }
}
