.patatas {
  z-index: -1;
  .patata__1 {
    position: absolute;
    top: 120px;
    left: 350px;
  }
  .patata__2 {
    position: absolute;
    top: -80px;
    left: 270px;
  }
  .patata__3 {
    position: absolute;
    top: -50px;
    left: 450px;
  }
}
